
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Shantell+Sans&display=swap');

:root {
    --primary-color: #1C1C1C; /* Dark Gray */
    --secondary-color: #0A84FF; /* Electric Blue */
    --accent1-color: #FFD700; /* Gold */
    --accent2-color: #1f0a26c4; /* Coral Pink */
    --tertiary-color: #850dc5b1; /* Light Gray */

    --heading-font: 'Secular One';
    --paragraph-font: 'Shantell Sans';

    --nav-background-color: rgb(97, 166, 209);
    --nav-link-color: #FFD700; /* Gold */
    --nav-hover-link-color: #00000039; /* Dark Slate Gray */
    --nav-hover-background-color: #0A84FF; /* Electric Blue */
}

@media only screen and (max-width: 100%) {
    html {
    max-width: 100%;
    background-color: var(--primary-color);
}
}

header {
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    top: 0%;
}

header img {
    width: 25%;
    height: auto;
    margin-left: 37%;
}

header nav {
    position: static;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: var(--nav-hover-link-color);
    font-size: 255%;
    display: inline-flex;
    justify-content: space-between;
}

header nav a {
    width: 85%;
    height: auto;
    justify-content: space-between;
    text-align: center;
}

header nav a {
    width: 100%;
    height: auto;
    color: var(--nav-hover-link-color);
}

header nav a:link,
header nav a:visited {
    color: var(--nav-link-color);
    width: 100%;
    height: auto;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    width: 100%;
    height: auto;
}

main {
    position: relative;
    background-color: var(--secondary-color);
    
}

.title {
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    color: var(--accent1-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--accent2-color);
    
}

h1 {
    text-align: center;
}

    .hero {
    position:relative;
    width: 100%;
    height:30em; 
    background-image: url("../images/techs.jpeg");
    background-repeat:repeat;
    position: relative;
    background-size:contain;
    background-position:center;
    padding: 0%;
    color: var(--nav-hover-background-color);
    font-size: 25px;
    font-weight: bold;
}

.wrap {
    height: auto;
    border: 30px solid var(--nav-background-color);
}



.hero2 img {
    float: right;
    width: 25%;
    height: auto;
    clear: both;
    position: relative;
    margin-top:10%;
    left: -5%;
    box-shadow: 15px 15px 20px rgba(19, 17, 17, 100);
    border: 20px solid var(--nav-hover-background-color);
}

.left img {
    float: right;
    width: 25%;
    height: auto;
    position:relative;
    
    margin-right: 60%;
    margin-top: -10%;
    
    
    
}

    .introduction {
    position:absolute;
    width: 25%;
    height: auto;
    max-width: 25%;
    min-width: 35%;
    max-height: 50%;
    text-align: center;
    margin-left: 27%;
    margin-top: 8%;
    background-color: var(--accent2-color);
    overflow: hidden;
}


.h {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.h h2 {
    margin-left: 2%;
}

.h img {
    position: relative;
    width: 25%;
    height: auto;
    margin-top: -10%;
    left: 55%;
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
    color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
}

p {
    font-size: 100%;
    text-align: center;
    font-family: var(--paragraph-font);
    align-self: flex-end;
}

    
.p1 {
    position: relative;
    width: 22%;
    grid-row: 1/1;
    margin-left: 20%;
    margin-top: 5%;
    justify-content: center;
    color: var(--accent1-color);
    background-color: var(--accent2-color)
}

.G {
    position: relative;
    margin-top: 5%;
    margin-left: 25%;
}

.p2 {
    position: relative;
    width: 70%;
    grid-row: 1/1;
    margin-top: 0%;
    text-decoration: underline;
    text-decoration: overline;
    text-overflow: ellipsis;
    text-rendering: geometricPrecision;
    text-emphasis-color: var(--nav-link-color);
    text-shadow: #c41553;
    text-justify: distribute-all-lines;
    text-size-adjust: 50%;
    font-style: oblique;
    font-weight: bold;
    font-size: x-large;
    color: var(--tertiary-color);
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    width: 18%;
}

section.J {
    max-width: 90%;
    margin: 90px auto;
    height: auto;
    border: 10px solid var(--nav-link-color);
    
}

.row img {
    width: 100%;
    height: auto;
}

.J img {
    width: 100%;
    height: auto;
}

.sociallinks {
    position: relative;
    background-color: var(--nav-background-color);
    width: 100%;
    height: auto;
    
}

.sociallinks nav {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: var(--nav-hover-link-color);
    font-size: 300%;
    display: inline-flex;
    justify-content: space-between;
}

.sociallinks a {
    position: relative;
    height: auto;
    justify-content: space-between;
    text-align: center;
    left: 10%;

    width: 45%;
    height: auto;
    color: var(--nav-link-color);
}

.sociallinks a:link,
.sociallinks a:visited {
    position: relative;
    color: var(--nav-link-color);
    width: 100%;
    height: auto;
    right: 50%;
}

.sociallinks a:hover {
    position: relative;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    width: 100%;
    height: auto;
}

.sociallinks a img {
    position: relative;
    margin-left: 25%;
}

footer p {
    position: absolute;
    text-align: center;
    margin-bottom: 0%;
    left: 50%;
    transform: translateX(-190%);
    z-index: 2;
}
