
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Shantell+Sans&display=swap');

:root {
    --primary-color: #1C1C1C; /* Dark Gray */
    --secondary-color: #0A84FF; /* Electric Blue */
    --accent1-color: #FFD700; /* Gold */
    --accent2-color: #1f0a26c4; /* Coral Pink */
    --tertiary-color: #850dc5b1; /* Light Gray */

    --heading-font: 'Secular One';
    --paragraph-font: 'Shantell Sans';

    --nav-background-color: rgb(97, 166, 209);
    --nav-link-color: #FFD700; /* Gold */
    --nav-hover-link-color: #00000039; /* Dark Slate Gray */
    --nav-hover-background-color: #0A84FF; /* Electric Blue */
}

@media only screen and (max-width: 100%) {
    html {
    background-color: var(--primary-color);
}

body {
    justify-content: space-evenly;
}

}

header {
    position: static;
    background-color: #000000;
    width: 100%;
    height: auto;
}

header img {
    position: relative;
    width: 25%;
    height: auto;
    left: 37%;
}

header nav {
    position: static;
    width: 100%;
    height: auto;
    align-items: center;
    background-color:var(--nav-link-color);
    font-size: 255%;
    display: inline-flex;
}

header nav a {
    
    width: 100%;
    height: auto;
    justify-content: space-between;
    text-align: center;
}

header nav a:link,
header nav a:visited {
    color: var(--nav-hover-link-color);
    width: 100%;
    height: auto;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    width: 100%;
    height: auto;
}

main {
    position: static;
    background-color:#000000;    
}

.title {
    width: 85%;
    height:auto;
    position: relative;
    text-align: center;
    color: var(--accent1-color);
    font-size: 0.5em;
    font-weight: bold;
    background-color: #000000;
    z-index: 1;
    margin-left: 8%;
    
}

h1 {
    text-align: center;
}

    .hero {
    position:relative;
    width: 100%;
    height: 25em;
    background-image: url("../images/techs.jpeg");
    background-repeat:repeat;
    background-size:contain;
    background-position:center;
    color: var(--accent1-color);
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}

.wrap {
    height: auto;
    border: 70px solid var(--nav-hover-background-color);
}


.hero2 img {
    float: right;
    width: 25%;
    height: auto;
    clear: both;
    position: relative;
    margin-top:5%;
    left: -5%;
    box-shadow: 15px 15px 20px rgba(19, 17, 17, 100);
    border: 20px solid var(--nav-hover-background-color);
}

.left img {
    float: right;
    width: 25%;
    height: auto;
    position:relative;
    margin-right: 70%;
    margin-top: -10%;
    z-index: 3;
    
}

    .introduction {
    position:relative;
    width: 25%;
    height: auto;
    max-width: 25%;
    min-width: 35%;
    max-height: 20em;
    text-align: center;
    margin-left: 27%;
    margin-top: 8%;
    background-color: #0000007d;
    overflow: hidden;
}

.h a {
    color: #FFD700;
}

.h {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.h h2 {
    margin-left: 2%;
}

.video {
    position: absolute;
    bottom: -18%;
    left: 50%;
    box-shadow:35px 35px 30px rgba(19, 17, 17, 100);
    border:var(--nav-background-color);
    border-width: 5%;
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
    color: var(--accent1-color);
    text-align: center;
    font-family: var(--accent1-color);
}

p {
    font-size: 100%;
    text-align: center;
    font-family: var(--accent1-color);
    align-self: flex-end;
}
 
.p1 {
    position: relative;
    width: 30%;
    grid-row: 1/1;
    margin-left: 10%;
    margin-top: 5%;
    justify-content: center;
    color: var(--accent1-color);
    background-color: var(--accent1-color);
    margin-bottom: 12%
}

.h nav ul {
    width: 30%;
    height: auto;
    background-color: #1c1c1c35;   
}

.h nav ul {
    width: 30%;
    height: auto;
    justify-content: space-between;
    text-align: center;
}

.h nav ul {
    width: 30%;
    height: auto;
    color: #000000;
}

.h nav ul:link,
.h nav ul:visited {
    color: var(--nav-hover-background-color);
    width: 30%;
    height: auto;
}

.h nav li:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--accent2-color);
    width: 110%;
    height: auto;
    transform: translateY(15%);
    font-size: 150%;
}

.G {
    position: relative;
    margin-top: 5%;
    margin-left: 25%;
}

.p2 {
    position: relative;
    width: 70%;
    grid-row: 1/1;
    margin-top: -5%;
    text-decoration: underline;
    text-overflow: ellipsis;
    text-rendering: geometricPrecision;
    text-emphasis-color: var(--nav-link-color);
    font-weight: bold;
    font-size: x-large;
    color: var(--accent1-color);
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    width: 18%;
    flex-wrap: wrap;
    background-color: #297e96bf;
}

section.J {
    max-width: 90%;
    margin: 90px auto;
    height: auto;    
}

.row img {
    width: 100%;
    height: auto;
}

.J img {
    width: 100%;
    height: auto;
}

footer {
    position: static;
    background-color:var(--accent1-color);
    width: 100%;
    height: auto;
}

footer nav {
    position: static;
    width: 100%;
    height: auto;
    background-color: var(--accent1-color);
    display: inline-flex;
}

footer a {
    position: static;
    height: auto;
    text-align: center;
    color: var(--accent1-color);
}

footer a:link,
footer a:visited {
    position: static;
    color: var(--accent1-color);
    width: 100%;
    height: auto;
    right: 5%;
}

footer a:hover {
    position: static;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
    width: 100%;
    height: auto;
}

footer a img {
    position: static;
    margin-left: 25%;
}

footer p {
    color: #000000;
    position: static;
    left: 5%;
}