@import url('https://fonts.google.com/share?selection.family=Heebo:wght@300%7CSecular%20One%7CShantell%20Sans');

:root {
    --primary-color: #fcf300;
    --secondary-color: #00b4d8;
    --accent1-color: #0db57d;
    --accent2-color: #fcf300;
  
    --heading-font: 'Shantell', sans;
    --paragraph-font: 'Heebo', serif;
  
    --nav-background-color: #fcf300;
    --nav-link-color: #0db57d;
    --nav-hover-link-color: #8dffcd;
    --nav-hover-background-color: #0db57d;
  }
/*  .hero {
    height: 500px;
  }*/
   
  header{
      margin: 0rem auto;
      display: grid;
      grid-template-columns: 600px 20fr 20fr;
      align-items: center;
      border-bottom: 3px solid #fcf300;
      width: max-content;
      flex: 10 10 100%;
    }


.hero2 img {
    float: right;
    width: 15%;
    height: auto;
    clear: both;
    position: relative;
    top: -15%;
    left: -5%;
    box-shadow: 15px 15px 20px rgba(19, 17, 17, 100);
  }
.hero2 {
  position: relative;
  top: -10px;
  width: 1000px;
  left:150px ;
  height: 90px;
}

article {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: #041a15;
  font-size: 18px;
  font-weight: bold;
}
.introduction {
  position:relative;
  width: 70%;
  top: -10px;
  text-align:center;
  background-color: #00b3ff75;
  left: 5%;
}

body {
    max-width:max-content;
    padding:inherit;
  }
h1,h2,h3, h4, h5, h6 {
  position: relative;
    color: var(--accent1-color);
    text-align:center;
  }

  .h h2 {
    left: 3.5%;
  }

p {
  font-size: 120%;
  text-align: left;
}
#header-background {
    width:auto ;
    padding: inherit;
    /*background: url("../images/hero.jpg");*/
    background-color: var(--secondary-color);
  }
header nav{
  position:relative;
  width: 700px;
  float: right;
  right: 200px;
}  
header nav a {
  width: 700px;
}
/*p {
    padding: 25px;
  }*/
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer p {
  position: absolute;
  text-align: center;
  left: 30%;
  margin-top: 3%;
}

.sociallinks a{
  position: relative;
  left: 75%;
}

header img{
  margin: 2% 1.25rem 2% 3rem;
	width: 50%;
	height: auto;
}

.h {
  position: relative;
  width: 70em; 
  height: 13em;
  left: 5%;
}
.p1 {
  position: relative;
  width:20em;
  grid-row: 1/2;
  top: -0.3em;
  left: 2em ;
}
.h img {
  position:relative;
  width: 20%;
  height: auto;
  left: 30em;
  top: -10em;
}
.p2 {
  position: relative;
  width:20em;
  grid-row: 1/1;
  grid-column: 1/1;
  left: 40em;
  top: -17em;
}

.row {
  position: relative;
  display: flex;
  right: 3%;

}

.column {
  flex: 50%;
  padding:-90px;
}

.H img {
  width: 130%;
  height: auto;
}